# Data Science Assignment 3
## Webscraping

In [8]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [9]:
# URL That We Will Webscrape
url = 'https://webpages.charlotte.edu/mscipion/'

# Send HTTPS request
response = requests.get(url)
response.raise_for_status()

print(response)

<Response [200]>

In [10]:
# Parse the HTML content
soup = BeautifulSoup(response.text, 'html.parser')

In [11]:
# Create table object
table = soup.find('table')
print(table)

<table>
<tr>
<th>Student</th>
<th>Favourite Computer Language</th>
<th>Years of Experience</th>
</tr>
<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>
<tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>
<tr>
<td>Isabel</td>
<td>C++</td>
<td>3</td>
</tr>
<tr>
<td>Tony</td>
<td>Pearl</td>
<td>7</td>
</tr>
<tr>
<td>Maria</td>
<td>Cobol</td>
<td>15</td>
</tr></table>

In [12]:
# Extracting table data
table_data = []
headers = []

In [13]:
# Extract headers
for th in table.find_all('th'):
    headers.append(th.text.strip())

In [14]:
# Extract rows
for row in table.find_all('tr')[1:]:  # Skipping the header row
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    table_data.append(cols)

In [16]:
# Create DataFrame
df = pd.DataFrame(table_data, columns=headers)

df.head()

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7

In [17]:
print(df)

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7
5   Maria                       Cobol                  15

In [19]:
df.iloc[0:6]

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7
5   Maria                       Cobol                  15

### Hiza